@using ClientManagement.Core.Application.ViewModels.User;
@using ClientManagement.Core.Application.Enums;
@model SaveUserViewModel;

@{
    bool editMode = String.IsNullOrWhiteSpace(Model.Id) ? false : true;
    dynamic modelIdValue = Model.Id;
    if (!editMode)
    {
        modelIdValue = 0;
    }
    ViewData["Title"] = editMode ? "Editing my profile" : "New User";
}

<div class="container-fluid mt-4">

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">

                    @if (Model.HasError || !String.IsNullOrWhiteSpace(ViewBag.Error))
                    {
                        <div class="alert alert-danger alert-dismissible fade show mb-2" role="alert">
                            <p>@Model.Error @ViewBag.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <form method="post" asp-controller="User" asp-action="@(editMode ? "EditUserPost" : "SaveUserPost")">

                        <div class="mb-3 fw-normal text-center">
                            <h1 class="h3">@ViewData["Title"]</h1>
                        </div>

                        <input type="hidden" asp-for="Id" value="@modelIdValue" />

                        <div class="mb-4">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label asp-for="FirstName" class="form-label">Name:</label>
                                    <input asp-for="FirstName" class="form-control" placeholder="Name" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="col-6">
                                    <label asp-for="LastName" class="form-label">LastName:</label>
                                    <input asp-for="LastName" class="form-control" placeholder="LastName" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-6">
                                    <label asp-for="Email" class="form-label">Email:</label>
                                    <input type="email" asp-for="Email" class="form-control" placeholder="helloworld@email.com" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="col-6">
                                    <label asp-for="Phone" class="form-label">Phone:</label>
                                    <input asp-for="Phone" class="form-control" placeholder="example: +1 809 539-9999" maxlength="20" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Username" class="form-label">Username:</label>
                                <input type="text" asp-for="Username" class="form-control" placeholder="Username" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Password" class="form-label">Password:</label>
                                @if (editMode)
                                {
                                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                                }
                                else
                                {
                                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" required />
                                }
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ConfirmPassword" class="form-label">Confirm Password:</label>
                                @if (editMode)
                                {
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                                }
                                else
                                {
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" required />
                                }
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <a class="btn btn-dark form-control me-3" asp-controller="Home" asp-action="Index">Back</a>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-success form-control">Save</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
